<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Add Berhasil</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>

	<nav th:replace="fragments/fragment :: navbar(title='Add')"></nav><br> 
		<div class="card border-info mb-3 text-center" style="margin:25px;">
			<div class="card-header">
				<h3 th:text="'Data Berhasil ditambahkan!'"></h3>
			</div>
		</div>
</body>

</html>