<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    
    <title>Home</title>
    <object th:include="fragments/fragment :: css"></object>
    <object th:include="fragments/fragment :: js"></object>
</head>
<body>

 	<div th:if="${message != null}">
                <div class="alert red">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Oh!</strong> <p th:text="${message}"></p>
                </div>
    </div>
    
    <nav th:replace="fragments/fragment :: navbar(title='Home')"></nav>
       <div style="text-align:center; padding-top: 25px;">
       		<h1>Sistem Informasi Kepegawaian</h1>
       		<h3>Selamat Datang di Sistem Informasi Kepegawaian</h3>
       </div>
       		<div class="card border-info mb-3 text-center" style="margin:25px;">
       			<div class="card-header">
       			Lihat Pegawai berdasarkan NIP
       			</div>
       			<form th:action="@{/pegawai}" method=GET>
       				<div class="card-body">
       					<label for="nip">Masukkan Nomor NIP</label>
       					<input type="text" name="nip" class="form-control"/>
       					<p></p>
       					<button type="submit" class="btn btn-primary">Search Now!</button>
       				</div>
       			</form>
       		</div> 
       		<div class="card border-info mb-3 text-center" style="margin:25px;">
       			<div class="card-header">
       			Lihat Detail Jabatan
       			</div>

       				<div class="card-body">
       				    <form th:action="@{/jabatan/view}" method=GET>
       					<label for="idJabatan">Pilih Jabatan</label>
       					<select type="text" name="idJabatan" class="form-control"/>
       					<p></p>
       					<option th:each="jabatan : ${listJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}">
						</option>
						</select>
						<button type="submit" class="btn btn-primary">Lihat</button>
						</form>
       				</div>

       		</div> 
       		<div class="card border-info mb-3 text-center" style="margin:25px;">
       			<div class="card-header">
       			Lihat Pegawai Termuda dan Tertua
       			</div>

       				<div class="card-body">
       				    <form th:action="@{/instansi/tuamuda}" method=GET>
       					<label for="idInstansi">Pilih Instansi</label>
       					<select type="text" name="idInstansi" class="form-control"/>
       					<p></p>
       					<option th:each="instansi : ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}">
						</option>
						</select>
						<button type="submit" class="btn btn-primary">Lihat</button>
						</form>
       				</div>

       		</div> 
</body>
</html>