<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Update Pegawai</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.alert {
    padding: 20px;
    background-color: #2ECC71;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
</style>
</head>

<body>

	<nav th:replace="fragments/fragment :: navbar(title='Update Pegawai')"></nav><br> 
		<h2>Success Message</h2>

<div th:if="${message != null}">
        <div class="alert green">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Success!</strong> <p th:text="${message}"></p>
        </div>
</div>
		<div class="card border-info mb-3 text-center" style="margin:25px;">
			<div class="card-header">
				<h3 th:text="'Update Jabatan'"></h3>
			</div>
		</div>
		<div class="card-body">
		<form th:action="@{/pegawai/ubah}" th:object="${pegawai}" method="POST">
		<input type="hidden" th:field="*{id}"/>
			<div class="container">
				<table class ="table table-borderless table-striped">
				<tbody>
				<tr>
					<td  th:text="'Nama'" ></td>
					<td><input th:field = "*{nama}" type="text" name="nama" maxlength="255" class="form-control" required="required" /></td>
				</tr>
				<tr>
					<td  th:text="'Tempat Lahir'" ></td>
					<td><input th:field = "*{tempatLahir}" type="text" name="tempatLahir" maxlength="255" class="form-control" required="required" /></td>
				</tr>
				<tr>
					<td  th:text="'Tanggal Lahir'" ></td>
					<td><input th:field = "*{tanggalLahir}" type="date" name="tanggalLahir" maxlength="255" class="form-control" required="required" /></td>
				</tr>
				<tr>
					<td  th:text="'Tahun Masuk'" ></td>
					<td><input th:field = "*{tahunMasuk}" type="text" name="tahunMasuk" maxlength="255" class="form-control" required="required" /></td>
				</tr>
				<tr>
            		<td>Provinsi</td>
            		<td>
            		<select class="form-control" id="provinsi">
            		  <option disabled="disabled" selected="selected" >Pilih Provinsi</option>
					  <option th:each="prov : ${listOfProvinsi}" 
					          th:value="${prov.getId()}" 
					          th:text="${prov.getNama()}"></option>
					</select>
					</td>
            	</tr>
            	<tr>
            		<td>Instansi</td>				
            		<td>
            		<select class="form-control" id="instansi" name="instansi">
					  <option disabled="disabled" selected="selected" >Pilih Instansi</option>
					</select>
					<td>
            	</tr>
            	<tr>
            		<td> Jabatan </td>
            		<td th:each="jabatan,iterationStats : *{jabatanList}" style="padding:10px">
            			<select class="form-control" th:field="*{jabatanList[__${iterationStats.index}__]}" >
					  		<option  th:each="jabatannya : ${jabatanList}" th:value="${jabatannya.id}" th:text="${jabatannya.nama}" ></option>
						</select>
            		</td>
            	<tr>
            		<td>
            		</td>
            		<td>
            		<button type="submit" name="addRow" class="btn" style='float: right' >Tambah Jabatan Lainnya</button>
            		</td>
            	</tr>
				</tbody>
				</table>
				<button type="submit" name="submit">Simpan</button>
			</form>
			</div>

		</div>

</body>
<script type="text/javascript">
	$(document).ready(function(){
		console.log("hey")
		$('#provinsi').change(function() {
			valueProv = $(this).val();
			console.log(valueProv)
			$.ajax({
				type: "GET",
				url: "http://localhost:8080/pegawai/tambah/instansi?provinsi=",
				data: {
					'provinsiId' : valueProv
				},
				dataType: 'json',
				success: function(data) {
					console.log(data);
					getIns = '';
					var size = data.length;
				
					for (var i = 0; i<size; i++) {
						getIns+='<option value="'+data[i].id+'">'+data[i].nama+'</option>';
						console.log(data[i]);
						console.log(data[i].nama)
					}
					console.log(getIns);
					$('#instansi').append(getIns);
				},
				error: function(rs,e) {
					alert(rs.responseText)
				}
			})
		})
	});
</script>

</html>