<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>View Pilot</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>

	<nav th:replace="fragments/fragment :: navbar(title='View Pegawai Muda Tua')"></nav><br> 
		<div class="card border-info mb-3 text-center" style="margin:25px;">
			<div class="card-header">
				<h3 th:text="'Lihat Data Termuda'"></h3>
			</div>
		</div>
		<div class="card-body">
			<div class="container">
				<table class ="table table-borderless table-striped">
				<tbody>
				<tr>
					<th>NIP</th>
					<td th:text="${termuda.nip}"></td>
				</tr>
				<tr>
					<th>NIP</th>
					<td th:text="${termuda.nip}"></td>
				</tr>
				<tr>
					<th>Nama</th>
					<td th:text="${termuda.nama}"></td>
				</tr>
				<tr>
					<th>Tempat Lahir</th>
					<td th:text="${termuda.tempatLahir}"></td>
				</tr>
				<tr>
					<th>Tanggal Lahir</th>
					<td th:text="${termuda.tanggalLahir}"></td>
				</tr>
				<tr>
					<th>Tahun Masuk</th>
					<td th:text="${termuda.tahunMasuk}"></td>
				</tr>
				<tr>
					<th>Nama Instansi</th>
					<td th:text="${termuda.instansi.nama}"></td>
				</tr>
				<tr>
					<th>Jabatan</th>
					<td>
					<ul th:each="jabatan : ${listMuda}">
						<li th:text="${jabatan.nama}"></li>
					</ul>
					</td>
				</tr>
				<tr>
					<th>Gaji</th>
					<td th:text="'Rp'+${gajiMuda}"></td>
				</tr>
				</tbody>
				</table>
			</div>
		</div>
				<div class="card border-info mb-3 text-center" style="margin:25px;">
			<div class="card-header">
				<h3 th:text="'Lihat Data Tertua'"></h3>
			</div>
		</div>
		<div class="card-body">
			<div class="container">
				<table class ="table table-borderless table-striped">
				<tbody>
				<tr>
					<th>NIP</th>
					<td th:text="${tertua.nip}"></td>
				</tr>
				<tr>
					<th>NIP</th>
					<td th:text="${tertua.nip}"></td>
				</tr>
				<tr>
					<th>Nama</th>
					<td th:text="${tertua.nama}"></td>
				</tr>
				<tr>
					<th>Tempat Lahir</th>
					<td th:text="${tertua.tempatLahir}"></td>
				</tr>
				<tr>
					<th>Tanggal Lahir</th>
					<td th:text="${tertua.tanggalLahir}"></td>
				</tr>
				<tr>
					<th>Tahun Masuk</th>
					<td th:text="${tertua.tahunMasuk}"></td>
				</tr>
				<tr>
					<th>Nama Instansi</th>
					<td th:text="${tertua.instansi.nama}"></td>
				</tr>
				<tr>
					<th>Jabatan</th>
					<td>
					<ul th:each="jabatan : ${listTua}">
						<li th:text="${jabatan.nama}"></li>
					</ul>
					</td>
				</tr>
				<tr>
					<th>Gaji</th>
					<td th:text="'Rp'+${gajiTua}"></td>
				</tr>
				</tbody>
				</table>
			</div>
		</div>

</body>

</html>