<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>View Pilot</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>

	<nav th:replace="fragments/fragment :: navbar(title='View Jabatan')"></nav><br> 
		<div class="card border-info mb-3 text-center" style="margin:25px;">
			<div class="card-header">
				<h3 th:text="'Detail Jabatan - ' + ${jabatan.nama}"></h3>
			</div>
		</div>
		<div class="card-body">
			<div class="container">
				<table class ="table table-borderless table-striped">
				<tbody>
				<tr>
					<th>Nama</th>
					<td th:text="${jabatan.nama}"></td>
				</tr>
				<tr>
					<th>Deskripsi</th>
					<td th:text="${jabatan.deskripsi}"></td>
				</tr>
				<tr>
					<th>Gaji Pokok</th>
					<td th:text="${gaji}"></td>
				</tr>
				<tr>
					<th>Jumlah Pegawai</th>
					<td th:text="${jumlahPegawai}"></td>
				</tr>
				</tbody>
				</table>
				<form th:action="@{/jabatan/ubah}" method="POST">
				<input type="hidden" th:value = "${jabatan.id}" name="idJabatan"/>
				<button class="btn-primary" type="submit">Ubah</button>
			</form>
			<br>
			<form th:action="@{/jabatan/hapus}" th:object="${jabatan}" method="POST">
				<input type="hidden" th:value = "${jabatan.id}" name="idJabatan"/>
				<button class="btn-primary" type="submit">Hapus</button>
			</form>
			</div>
		</div>

</body>

</html>